default_registry = "augentic"

[namespace_registries]
omnia = { registry = "augentic", metadata = { preferredProtocol = "oci", "oci" = { registry = "ghcr.io", namespacePrefix = "augentic/" } } }
wasi = "wasi.dev"

# TODO: 
#   set up well-known metadata at https://omnia.host/.well-known/wasm-pkg/registry.json
#   so that packages resolve automatically without inline metadata.