# N.B. packages resolve automatically due to well-known metadata at 
# https://omnia.host/.well-known/wasm-pkg/registry.json

default_registry = "omnia"

[namespace_registries]
omnia = "omnia.host"
wasi = "wasi.dev"
# omnia = { registry = "augentic", metadata = { preferredProtocol = "oci", "oci" = { registry = "ghcr.io", namespacePrefix = "augentic/" } } }

[package_registry_overrides]
"wasi:blobstore" = "omnia.host"
"wasi:keyvalue" = "omnia.host"
"wasi:messaging" = "omnia.host"
"wasi:sql" = "omnia.host"
